body {
  font-family: "Oswald", sans-serif;
  margin: 0; }

header {
  display: flex;
  height: 3em;
  border: 1px solid rgba(173, 173, 173, 0.3);
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 544px) {
    header {
      flex-direction: row;
      height: auto;
      align-items: center; } }
  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    color: #adadad;
    list-style-type: none; }
    @media (min-width: 545px) {
      header ul:first-child li:not(:first-child) a {
        border-left: 1px solid rgba(173, 173, 173, 0.3);
        border-right: 1px solid rgba(173, 173, 173, 0.3); } }
    @media (max-width: 544px) {
      header ul {
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        align-items: center; }
        header ul a {
          border: 0; } }
  header a {
    padding: .5em 1em;
    text-decoration: none;
    color: #adadad;
    transition: 0.3s; }
    header a:hover {
      color: #333; }

section {
  margin-top: 1em; }

.filter {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 766px) {
    .filter {
      flex-wrap: wrap; } }
  .filter img {
    max-height: 39px; }
  .filter ul {
    list-style-type: none;
    display: flex; }
    .filter ul a {
      text-transform: uppercase;
      text-decoration: none;
      color: #333;
      padding: .5em 1em;
      font-weight: bold;
      transition: 0.3s;
      -webkit-transition: 0.3s ease;
      border-bottom: 1px solid white; }
      .filter ul a:hover {
        border-bottom: 1px solid #333;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease; }
  .filter input {
    padding: .5em 1em .5em 2.5em;
    border: 1px solid rgba(173, 173, 173, 0.3);
    background: url("/assets/lupe.png") no-repeat scroll 7px 7px; }
    @media (max-width: 766px) {
      .filter input {
        flex: 1 1;
        margin-top: 1em; } }

.jumbo {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/background.jpg-large");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 870px;
  justify-content: center;
  align-items: flex-end; }
  @media (max-width: 544px) {
    .jumbo {
      align-items: center;
      justify-content: flex-start; } }

hgroup {
  margin-right: 2em; }
  @media (max-width: 544px) {
    hgroup {
      margin-right: 0;
      text-align: center; } }

h1 {
  letter-spacing: 5px;
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  margin: 0;
  margin-right: 2em;
  font-weight: normal;
  letter-spacing: 3px; }

button {
  cursor: pointer;
  background: #333;
  border: 0;
  padding: 1em 4em;
  margin-top: 1em;
  transition: 0.3s; }
  button:first-of-type {
    margin-right: .5em; }
  button:hover {
    opacity: .9; }
  button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }

/*# sourceMappingURL=styles.css.map */
