$black: #333;
%primary-links {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}